.fade-enter-active {
  animation: fade-in .2s;
}
.fade-leave-active {
  animation: fade-out .3s;
}
@keyframes fade-in {
  0% { opacity:0; }
  50% { opacity:0.5 }
  100% { opacity:1 }
}
@keyframes fade-out {
  0% { opacity:1 }
  50% { opacity:0.5 }
  100% { opacity:0; }
}